<div class="container">
  <div class="row">
    <div class="card col-12">
      <div class="card-header">
  
        <button type="button" [routerLink]="['add-brand']" class="btn btn-primary mb-3">Add Brand</button>
         
      </div>
      <div class="card-body">
        <div class="m-3">
         <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of brands index as i ">
                  <td>{{i+1}}</td>
                  <td>{{b.id}}</td>
                  <td>{{b.brandName}}</td>
                  <td>{{b.contactNumber}}</td>
                  <td>
                      <a [routerLink]="['edit-brand', b.id,]">Edit</a>
                  </td>
                </tr>
               
              </tbody>
            </table>
      </div>
      
      </div>
    </div>
  </div>
</div>

