<div class="container">
    
    <div class="row">
        <div class="card col-12">
            <div class="card-header">
                <h4>Add Product</h4>
            </div>
            <div class="card-body">
                <form #addProductForm="ngForm" name="addProductForm"  (ngSubmit)="addProduct()">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="productName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="productName" name="productName"
                            [(ngModel)]="productRequest.productName">
                        </div>
        
                        <div class="col">
                            <label for="unit" class="form-label">Unit</label>
                            <select class="form-control" name="unit" [(ngModel)]="productRequest.unit">
                                <option>Pack</option>
                                <option>Pcs</option>
                                <option>Kg</option>
                            </select>
                        </div>
                   </div>

                   <div class="form-row mb-3">
                        <div class="col">
                            <label for="salePrice" class="form-label">Sale Price</label>
                            <input type="number" class="form-control" id="salePrice" name="salePrice" 
                            [(ngModel)]="productRequest.salePrice">
                        </div>

                        <div class="col">
                            <label for="purchasePrice" class="form-label">Purchase Price</label>
                            <input type="number" class="form-control" id="purchasePrice" name="purchasePrice"
                            [(ngModel)]="productRequest.purchasePrice">
                        </div>
                   </div>

                   <div class="form-row mb-3">
                        <div class="col">
                            <label for="brand" class="form-label">brand</label>
                            <select class="form-control" name="brand" [(ngModel)]="productRequest.brandId">
                                <option *ngFor="let bnd of brandList" [value]="bnd.id" >{{bnd.brandName}}</option>
                            </select>
                        </div>
                        
                        <div class="col">
                            <label for="image" class="form-label">image</label>
                            <input type="file" name="image" class="form-control-file" id="image" (change)="onFileSelected($event)">
                            <img class="image-responsive" [width]="50" [height]="55" [src]="productImage">
                        </div>
                   </div>
                       <div class="form-row">
                          <button type="submit" class="btn btn-primary mr-2" [disabled]="!isAddBtn">Add Product</button>
                          <button type="button" class="btn btn-warning mr-2" (click)="editProduct()" [disabled]="!isEditBtn">Edit</button>
                          <button type="button" class="btn btn-danger" (click)="deleteProduct(productRequest.id)" [disabled]="!isDeletBtn">Delete</button>
                       </div>
                  
                </form>
            </div>
            
    </div>
    </div> <!-- row end -->

    <div class="row">
        <div class="card col-12">
            <div class="card-header">
                <h4>Product List</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>id</th>
                            <th>Product</th>
                            <th>Unit</th>
                            <th>SalePrice</th>
                            <th>Purchase</th>
                            <th>Brand</th>
                            <th>image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr *ngFor="let p of productList$; index as i ">
                            <td>{{i+1}}</td>
                            <td>{{p.id}}</td>
                            <td>{{p.productName}}</td>
                            <td>{{p.unit}}</td>
                            <td>{{p.salePrice}}</td>
                            <td>{{p.purchasePrice}}</td>
                            <td>{{p.brand.brandName}}</td>
                            <td><img [src] ="p.image" width="100" height="120"  class="rounded" alt="..."></td>
                            <td><button class="btn btn-primary" (click)="getProductById(p.id)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
        </div>
       
    </div>
</div>
