<div class="container m-4">
    <h1 class="mb-5">Add Brand</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addBrand()">
                <div class="mb-3">
                  <label for="brandName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="brandName" name="brandName"
                  [(ngModel)]="brandRequest.brandName" >
                    </div>

                <div class="mb-3">
                    <label for="contactNumnber" class="form-label">Number</label>
                    <input type="text" class="form-control" id="contactNumnber" name="contactNumnber"
                    [(ngModel)]="brandRequest.contactNumber" >
                        </div>
               
               
                <button type="submit" class="btn btn-primary">Add new brand</button>
              </form>
        </div>
       
    </div>
   
</div>