<div class="Container">
  <div class="row">
    <div class="card col-12">
      <div class="card-header">
          <h2>Add Branch</h2>
      </div>
      <div class="card-body">
     
          <form [formGroup]="branchform" (ngSubmit)="addBranch()">

            <div class="form-row mb-3">

              <div class="col">
                <label for="BranchName" class="form-label">Name</label>
                <input type="text" class="form-control" id="BranchName" formControlName="branchName">
                </div>                    

              <div class="col">
                <label for="BranchSupervisor" class="form-label">Supervisor</label>
                <input type="text" class="form-control" id="BranchSupervisor" formControlName="supervisor">
              </div>

              <div class="col">
                <label for="BranchContact" class="form-label">Contact</label>
                <input type="text" class="form-control" id="BranchContact" formControlName="contactNumber">
              </div>  
            </div>                  

            <div class="form-row mb-3">

              <div class="col">
                  <label for="companyId" class="form-label">Company</label>
                  <select class="form-control" formControlName="companyId">
                    <option>Select Company</option>
                    <option *ngFor="let com of companies" [value]="com.id">
                      {{ com.name }}
                    </option>
                  </select>
              </div>


              <div class="col">
                <label for="UAN" class="form-label">UAN</label>
                <input type="text" class="form-control" id="UAN" formControlName="uan">
              </div>
              
              <div class="col">
                
                  <label>Status</label>
                  <select class="form-control" name="companyId" formControlName="status">
                    <option></option>
                    <option value=1>Active</option>
                    <option value=0>Non Active</option>
                  </select>
                
              </div>

            </div>

            <div class="form-row mb-3">

              <div class="col">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" formControlName="address">
              </div>

            </div>

            <button type="submit" class="btn btn-primary">Add Branch</button>
          </form>
        </div>
        </div>
      </div>
    </div>



