<div class="container">
   
    <div class="row">
        <div class="card col-12">
            <div class="card-header">
                <h4>Add Account</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="cashAccountForm" name="cashAccountForm" (ngSubmit)="addCashAccount()">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="accountTitle" class="form-label">Title</label>
                            <input type="text" formControlName="accountTitle" class="form-control" id="supplierName" name="supplierName">
                        </div>
                    </div>
                    <div class="form-row mb-3">

                        <div class="col">
                            <label for="accountBranchId" class="form-label">Branch</label>
                            <select class="form-control" formControlName="accountBranchId" name="cashAccountBranch">
                                <option *ngFor="let branch of branches" [value]="branch.id">{{branch.branchName}}</option>
                            </select>
                        </div>

                        <div class="col">
                            <label for="accountType" class="form-label">Type</label>
                            <select class="form-control" formControlName="accountType" name="cashAccountBranch">
                                <option selected>Select option</option>
                                <option value="Cash Account">Cash Account</option>
                                <option value="Bank Account">Bank Account</option>
                            </select>
                        </div>

                        <div class="col">
                            <label for="status" class="form-label">Status</label>
                            <br>
                            <input type="checkbox" formControlName="accountStatus" class="mr-2"> Is Active
                        </div>
                    </div>
                    
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary mr-2">{{btntitle}}</button>
                        
                        <button type="button" class="btn btn-danger" (click)="deleteAccount()" [disabled]="!isDeletBtn">Delete</button>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header">
                <h4>Account List</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <th>Sr#</th>
                        <th>Code</th>
                        <th>Title</th>
                        <th>Branch</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let acc of cashAccount; index as i">
                            <td>{{i+1}}</td>
                            <td>{{acc.accountCode}}</td>
                            <td>{{acc.accountTitle}}</td>
                            <td>{{acc.accountBranch.branchName}}</td>
                            <td>{{acc.accountType}}</td>
                            <td>{{acc.accountStatus}}</td>
                            <td><button type="button" class="btn btn-primary" (click)="selectAccount(acc)">Edit</button></td>

                        </tr>
                     </tbody>
                </table>
            </div>
         </div>
            
        </div>
    </div>

