<div class="m-3">
  <div class="card">
    <div class="card-header">
      <h1>Companies</h1>
  <button type="button" class="btn btn-primary" [routerLink]="['add']">Add New</button>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comp of companies">
            <td>{{ comp.id }}</td>
            <td>{{ comp.name}}</td>
            <td>   
                <a [routerLink]="['/Company','edit', comp.id]">Edit</a>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>

  </div>
  
    

</div>


