<div class="m-3">
   
    <div class="row">
        <div class="card col-12">
            <div class="card-header">
                <h1>Inventory</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th>Sr#</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Branch</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inv of Inventory$ ; index as i">
                            <td>{{i+1}}</td>
                            <td>{{inv.product.productName}}</td>
                            <td>{{inv.quantity}}</td>
                            <td>{{inv.branch.branchName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>